.container{
    position: relative;
    border-radius: 15px;
    padding: 73px;
    margin-top: 80px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.projectsTitle{
    text-decoration: underline;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.card {
    border-radius: 25px;
    width: 500px;
    box-shadow: 5px 5px 5px #818d8d;
    padding: 20px;
    margin: 25px;
    text-align: center;
    max-width: calc(30% - 20px);
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    text-align: center;
}

.card:hover{
    background-size: 100% 100%;
    background-image:linear-gradient(
            90deg,
            rgba(165, 215, 232, 0.42) 0%,
            rgba(255, 255, 255, 0) 100%
    );
}
.bannerImage {
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid black;
}

.cardContentTitle{
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #ffffff;
}
.btnGitHubLink{
    background-color: #574e52;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    margin: 10px;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}
p{
    font-size: 16px;
    color: black;
    text-align: center;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
@media screen and (max-width: 830px) {
    .container {
        padding: 20px; /* Adjust padding for smaller screens */
        margin-left: 5%; /* Adjust margin for smaller screens */
        margin-right: 5%; /* Adjust margin for smaller screens */
    }

    .card {
        width: calc(100% - 50px); /* Adjust width to take full width with some margin */
        max-width: none; /* Remove maximum width */
        margin: 15px auto; /* Center cards horizontally with vertical margin */
    }
}

