@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    position: relative;
    border-radius: 15px;
    padding: 73px;
    margin-top: 80px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.skillItems {
    padding-left: 20px;
    color: var(--color-text);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around; /* Center items */
}

.skillItem {
    border-radius: 25px;
    box-shadow: 5px 5px 5px #818d8d;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: calc(30% - 20px); /* Adjust width to fit 3 items per row */
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.skillItem:hover {
    background-size: 100% 100%;
    background-image:linear-gradient(
            90deg,
            rgba(165, 215, 232, 0.42) 0%,
            rgba(255, 255, 255, 0) 100%
    );

}
.skillItemImage{
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.skillItem h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}
.skillItemDesc{
    color: black;
}
.skillsTitle{
    text-decoration: underline;
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .skillItems {
        margin-top: 29px;
    }

    .skillItem {
        padding-left: 0;
        padding-right: 0;
    }

    .skillsTitle{
        text-align: center;
        color: black;
    }
}