:root{
    /*!--COLORS--!*/
    --color-text: #000000;
    --color-primary: #b570d2;
    --color-secondary: #777272;
    --color-dark: #361c42;
    --color-bg: #919d9d;

     /*!--COLORS--!*/
     --font-roboto: "Roboto";
}